/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #53327d;
}

body {
  background-color: #111111;
  color: #ffffff;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bin-notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.bin-notification__text {
  font-size: 22.5px;
}

.bin-notification__text .call-to-action {
  color: #53327d;
}

/* react json view overrides */

.react-json-view {
  color: #a5a5a5 !important;
}

.string-value {
  color: #53327d !important;
  font-weight: bold;
}

.bin-icon {
}

.bin-icon svg {
  margin: 1em;
  width: 5em;
  height: 5em;
  color: #999999;
}