/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bin-notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bin-notification__text {
  font-size: 22.5px;
}

.bin-notification__text .call-to-action {
  color: #cb4b16;
}

.bin-icon {
}

.bin-icon svg {
  margin: 1em;
  width: 5em;
  height: 5em;
}
